input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(54,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='9.239999999999998'%3E%3Cpath transform='translate(-122.5 5.600000000000001) rotate(-2.5 1409 581) scale(0.92752)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.08' transform='translate(-154 94) rotate(8.2 800 450) scale(1.00646)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(20.6 -102) rotate(62 401 736) scale(1.00646)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.8'%3E%3Cpath transform='translate(564 2.3999999999999986) rotate(-0.5999999999999996 150 345) scale(0.9838399999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='6.16' transform='translate(-156 -255) rotate(50.400000000000006 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-340 92) rotate(8.399999999999999 1400 132) scale(0.8)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.cardHighlight{
  min-height: 100%;
}

.product-card{
  min-height: 95%;
}

.navbar-left{
  display:inline
}

.Banner{
  text-align: center;
  overflow:hidden;
}

h2{
  text-align: center;
}

.brand {
  margin-left: 20px
}

.right-aligned{
  justify-content: flex-end;
  margin-right: 20px;
}

.admin-product{
  display:flex;
  flex-direction: column;
}

td > button {
  width: 80px;
  text-align: center;
}

.banner-img{
  width: 300px
}
